.container {
    display: grid;
    justify-content: center;
    background: lightgreen;
    width: 400px;
    height: 600px;
}

.container button {
    float: left;
    width: 100;
    height: 40px;
}

.text {
    text-align: center;
    padding-top: 30px;
}