.conteudo{
    font-size: 30px;
}

.fonteSerif {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 5em;
}

.fonteSans-Serif {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}

.fonteMonospace {
    font-family: 'Courier New', "Lucida Console", monospace;
    font-size: 1.25em;
}