#menu{
    background-color: gray;
}
#conteudo{
    background-color: #cece78;
}
#rodape{
    background-color: rgb(206, 141, 123);
    width: 100%;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
}